[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"

[dev-packages]
faker = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
